$headerBackgroundColor: #0e0e0e;
$allottedColour: #b42924;
$headerTextColor: #fff;
$sliderBackground: #efefef;
$sliderBorderColor: #ccc;
$sliderButtonBackground: #474747;
$buttonBorderColor: #0e0e0e;
$formButtonBackground: #fff;

$textTabsColor: (
  colored-text-tab--first: #333,
  colored-text-tab--second: #814444,
  colored-text-tab--third: #808080,
  colored-text-tab--fourth: #c3b091
)
