@font-face{
  font-family: 'LaurenScript';
  src: url('../scss/fonts/LaurenScript.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Garamond';
  src: url('../scss/fonts/Garamond.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond-Regular';
  src: url('../scss/fonts/Garamond Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Georgia';
  src: url('../scss/fonts/Georgia.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Calluna-Regular';
  src: url('../scss/fonts/Calluna-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Times New Roman';
  src: url('../scss/fonts/TimesNewRomanPSMT.ttf');
  font-weight: normal;
  font-style: normal;
}
