.colored-text-tab {
  border: 1px solid $sliderBorderColor;
  box-sizing: border-box;
  padding: 4px 20px 5px 30px;
  position: relative;
  margin: 13px 0 20.5px -1px;
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    top: -1px;
    left: 0;
    z-index: 2;
    height: calc(100% + 2px);
  }
  
  &__text {
    font-family: 'Garamond-Regular';
    font-size: 14px;
    line-height: 21px;
  }
}