.navigation {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  
  &__button {
    color: $headerTextColor;
    font-family: 'Georgia';
    font-size: 18px;
    text-align: center;
    padding-top: 22.5px;
    padding-bottom: 2px;
    margin: 0 15.25px;
    
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid $headerTextColor;
    }
  }
}